.item-room .ant-carousel .slick-dots li button{
    position: relative;
    left: -5vw;
}
.item-room-xs .ant-carousel .slick-dots li button{
    position: relative;
    left: -10vw;
}

.date-start-picker input, .date-end-picker input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: inherit;
    border: none;
    line-height: 30px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.823);
    outline: none;
}
.date-start-picker, .date-end-picker{
    margin-bottom: 2.5vh;
}

.react-datepicker{
    position: relative;
    left: -10%;
}