
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  text-decoration: none;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected:hover{
  color: crimson !important;
  border-bottom: 2px solid crimson !important;
}

.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover{
  color: crimson !important;
}

.ant-menu-horizontal > .ant-menu-item a:hover{
  color: crimson !important;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover{
  color: crimson !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: crimson !important;
  }

.ant-menu-horizontal > .ant-menu-item-selected a{
  color: crimson !important;
}

.ant-btn:hover, .ant-btn:focus {
  color: crimson !important;
  background: #fff;
  border-color: crimson !important;
}

.ant-carousel .slick-dots li button{
  position: relative;
  left: -15vw;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.icon-top{
  display: block;
  transition: 1s;
  overflow: scroll;
  width: 30px;
  height: 23px;
}

.btn-add:hover{
  border-color: black !important;
}

.btn-close, .btn-close:hover{
  border-color: white !important;
}

.btn-add:hover .icon-top, .btn-close:hover .icon-top{
  transform: rotate(180deg);
}

.btn-create:hover{
  color: #3f6600 !important;
  border-color: #5b8c00 !important;
}

.btn-detail:hover{
  color: #00474f !important;
  border-color: #36cfc9 !important;
}

.btn-edit:hover, .btn-update:hover{
  color: #873800 !important;
  border-color: #ffa940 !important;
}

.btn-delete:hover, .btn-reset:hover{
  color: #820014 !important;
  border-color: #ff4d4f !important;
}

.btn-back:hover{
  color: #1f1f1f !important;
  border-color: #8c8c8c !important;
}

.mt-10{
  margin-top: 10px;
}

.mb-10{
  margin-bottom: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mb-15{
  margin-bottom: 15px;
}

.mt-30{
  margin-top: 30px;
}

.mb-30{
  margin-bottom: 30px;
}

.mt-50{
  margin-top: 50px;
}

.mb-50{
  margin-bottom: 50px;
}

.ant-message{
  margin-top: 8vh;
  margin-left: 34vw;
}

.ant-pagination-item-active{
  border-color: crimson !important;
}

.ant-pagination-item a:hover, .ant-pagination-item a:active, .ant-pagination-item-active a{
  color: crimson !important;
}

.animation-star .user-name {
  animation: pulseStar 5s infinite;
}
@keyframes pulseStar {
  0% {
      color: #ffffff;
  }
  11% {
      color: #F4EBB7;
  }
  22% {
      color: #F9E79F;
  }
  33% {
      color: #F4E081;
  }
  43% {
      color: #F8E04D;
  }
  55% {
      color: #FADF19;
  }
  66% {
      color: #F8E04D;
  }
  77% {
      color: #F4E081;
  }
  88% {
      color: #F4EBB7;
  }
  99% {
      color: #ffffff;
  }
}

.animation-crimson b {
  animation: pulseCrimson 5s infinite;
}
@keyframes pulseCrimson {
  0% {
      color: black;
  }
  30% {
      color: crimson;
  }
  60% {
      color: crimson;
  }
  100% {
      color: black;
  }
}